// menu.rc
//	ファイルのエンコードはShift-JISで作成すること
//	2023/05/15 by kepohon

#include	"resource.h"


MYBMP	BITMAP	"bitmap2.bmp"


WIN_MENU MENU{
	POPUP "ファイル"
	BEGIN
		MENUITEM "開く",		IDM_OPEN
		MENUITEM SEPARATOR
		MENUITEM "保存", 	IDM_SAVE
		MENUITEM SEPARATOR
		MENUITEM "終了", 	IDM_END
	END
	
	POPUP "編集"
	{
		MENUITEM "切り取り",	IDM_CUT
		MENUITEM "コピー",	IDM_COPY
		MENUITEM "貼\り付け",	IDM_PASTE
	}
	
	POPUP "表\示"
	{
		MENUITEM "ツールバー",	IDM_TOOLBAR
		MENUITEM SEPARATOR
		POPUP "サブメニュー"
		{
			MENUITEM "「イ」を表\示", IDM_DISP1
			MENUITEM "「ロ」を表\示", IDM_DISP2
			MENUITEM "「ハ」を表\示", IDM_DISP3
		}
		MENUITEM "ソ\ース",	IDM_SOURCE
	}
	
	POPUP "ヘルプ"{
		MENUITEM "ヘルプ",	IDM_HELP
		MENUITEM SEPARATOR
		MENUITEM "バージョン情報",	IDM_VERSION
	}
}

